


.Card_Container{
    

.Contai-col{
    margin-top: 33px;
    padding: 16px;
    
    height  : 174px;
    border-radius: 16px;
    
}

img{
border-radius: 12px;
position: absolute;
width: 105px;
height: 140px;
left: 16px;
top: 16px;

;
}

h1{
    position: static;
    width: 132px;
    left: calc(50% - 132px/2);
    top: 0%;
    bottom: 68.13%;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 143%;
    /* identical to box height, or 29px */
    
    letter-spacing: 0.300393px;
    
    color: #FFFFFF
}

}