@font-face {
    font-family: FirstFont;
    src: url(../font/Poppins-Bold.ttf);
  }

  @font-face {
    font-family: Font-Search;
    src: url(../font/Poppins-Light.ttf);
  }



$white_10: rgba(255, 255, 255, 0.1);
$white_text: #fefefe;
$bg_primary: #2a1b57af;
$bg_secundary: #6a4dbc;
$bg_primary-s: #281f43;
$border_color_button: #281f43;
$bg_barlike: rgba(106, 77, 188, 0.28);
$bg_bar_border: rgba(106, 77, 188, 0.44);
$bg_Card: rgba(54, 44, 106, 0.65);
