
@import "variables";
@import "search";
@import "cardstyle";


body{
    background: rgb(17,7,47);
background: linear-gradient(45deg, rgba(17,7,47,1) 90%, rgba(26,10,75,1) 100%);
width: 100vw;
height: 100vh;
}

.Top-Bar img{
    margin-top: 57px;
    width: 65px;
    height: 73PX;
}

.Container-like{

    
    
    align-items: center; 
    margin-top: 123px;
    border: solid 1px $bg_bar_border;
    border-radius: 16px;
    background-color: $bg_barlike;
    width: 100%;
    height: 74px;

    img{
        float: left;
        margin-top: 2.5%;
        background-color: $bg_secundary;
        padding: 15px;
        border-radius: 100%;

    }

    h2{
        font-family: FirstFont;
        margin-top: 3%;
        margin-left: 10px;
        color: $white_text;
        float: left;
        
    }

    .Dropdow-arrow img{
        float: right;
        background-color: $white_10;
        margin-top: 1.5%;


    }
}

.fav-ico{
    
    background-color: purple;
    height: 50px;
    width: 50px;
}
